/* =====================================================
   GIS Portal
   Search Result Only
===================================================== */


#search-results{

    position:absolute;

    top:40px;

    left:0;

    width:300px;

    background:white;

    border:1px solid #cccccc;

    border-radius:5px;

    box-shadow:0 3px 10px rgba(0,0,0,.2);

    display:none;

    z-index:9999;

}



.search-item{

    padding:8px 10px;

    cursor:pointer;

}



.search-item:hover{

    background:#eeeeee;

}
.search-item small{

    color:#777;

    font-size:12px;

}